.App {
  display: flex;
  flex-flow: column wrap;
}

.pokemon-container {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;
}

.pokemon-text {
  padding: 3px 20px;
}