h1 {
    font-family: sans-serif;
    line-height: 1.5em;
  }
  p {
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
    text-align: center;
    line-height: 3em;
  }
  body {
    font-size: 16px;
    line-height: 20px;
  }
  ul {
    text-decoration: line-through;
    list-style: none;
  }
  li {
    line-height: 120px;
    text-align: center;
    font-size: 1.54em;
    font-family: sans-serif;
  }
  #yellow {
    background-color: yellow;
  }
  #red {
    background-color: red;
  }
  #brown {
    background-color: brown;
  }